<% @user.followers.each do |user| %>
<%  user.followers %>
<div class="row">
  <div class="col-md-6">
    <div class="col-md-3">
    <%= profile_img(user)%>
    </div>
    <div class="col-md-3">
    <%= user.name %>
    </div>
 </div>
</div>
<%end%>
