// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .container_profile{
   float: left;
   margin-top: 30px;
   margin-left: 80px;
 }
 .container_profile_image{
   float: left;
 }

 .container_profile_other{
   float: right;
 }
 .container_follower_and_following{
   float: right;
   margin-right: 100px
 }
